Flask==2.3.3
Werkzeug==2.3.7
requests==2.31.0
beautifulsoup4==4.12.2
python-nmap==0.7.1
urllib3==2.0.7
dnspython==2.4.2
python-whois==0.8.0
cryptography==41.0.7
pyOpenSSL==23.3.0
# Flask-SSE==0.2.1 # Removed
# redis # Removed (Implicit dependency of Flask-SSE)
# WeasyPrint==61.2 # Removed due to dependency issues
# xhtml2pdf==0.2.12 # Removed due to dependency conflict
reportlab==4.4.0 # Using ReportLab directly
# reportlab==3.6.13 # Removed pin, let xhtml2pdf handle it 